@model BMS.Models.UserRigestration

@{
    ViewBag.Title = "Registration";
}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title></title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">
<link href="~/css/sb-admin-2.min.css" rel="stylesheet">

 <!-- Bootstrap core JavaScript-->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin-2.min.js"></script>

<style>
    .bg-image {
        background-image: url(hagonoy.jpg);
        background-position: center;
        background-size: cover;
    }

    .bg-background {
        background-image: url(background.jfif);
        background-size: cover;
    }
</style>
<body class="bg-background">
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-image">

                        </div>
                        <div class="col-lg-6">
                            <div>
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4" style="margin-top:15px;">MAGANDANG ARAW!</h1>
                                </div>

                                @using (Html.BeginForm())
                                {


                                    <div class="form-horizontal">
                                        <h4 style="margin-left:15px;">UserRigestration</h4>
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group" style="margin-left:15px;">
                                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label " })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group"  style="margin-left:15px;">
                                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label " })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control col-m-2" } })
                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group"  style="margin-left:15px;">
                                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-m-2"} })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                @Html.ValidationMessage("EmailExists", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                        <div class="form-group"  style="margin-left:15px; ">
                                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label " })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-m-2" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group"  style="margin-left:15px; ">
                                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control col-m-2" } })
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group"  style="margin-left:15px; margin-bottom:10px;">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Create" class="btn btn-primary" style="margin-bottom:15px;" />
                                                <br>
                                                <p>Already have account? @Html.ActionLink("Login", "Login")</p> 
                                                


                                            </div>
                                        </div>

                                    </div>
                                }




                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        </div>
        </body>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
